# ----- 루트 -----
node_modules
dist
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ----- 프론트 (apps/web) -----
apps/web/node_modules
apps/web/.nuxt
apps/web/.output
apps/web/.env
apps/web/.env.*

# ----- 백 (apps/api) -----
apps/api/node_modules
apps/api/dist
apps/api/.env
apps/api/.env.*